@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #827676;
  font-family: 'Inter', sans-serif;
  color: #0f0f0f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}